{{!-- Link Post Type — via line with domain from custom_excerpt --}}

<div class="post-header">
    <div class="post-via">via <a href="{{url}}">{{custom_excerpt}}<span class="arrow-out"> &#8599;</span></a></div>
</div>
<div class="post-reading">
    <div class="post-margin">
        <div class="post-manicule">&#9758;</div>
        <time class="post-date" datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMM D"}}</time>
    </div>
    <div class="post-body">
        {{content}}
    </div>
</div>
