{{!< ../default}}

<main class="page">
    <div class="page-content">

    {{#if @member.paid}}
        <div class="account-box">
            <h2 class="account-box-title">You're a subscriber</h2>
            <p><strong>{{@member.email}}</strong> has full access to {{@site.title}}. You're all set.</p>
        </div>

    {{else if @member}}
        <div class="account-box">
            <h1 class="account-box-title">Not yet a subscriber</h1>
            <p><strong>{{@member.email}}</strong> is subscribed to free updates but doesn't have full access.</p>
            <div class="authbox-signup">
                <a class="button primary" href="/signup/">
                    <span class="button-content">Subscribe now</span>
                </a>
            </div>
        </div>

    {{else}}
        <script>window.location = '{{@site.url}}/signin/';</script>
    {{/if}}

    </div>
</main>
